* {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.Hydra_Sidebar_main {
    position: relative;
    width: fit-content;
    background-color: rgba(227, 227, 227, 0.22);
    height: 100%;
    display: flex;
    flex-direction: row;
    resize: horizontal;

    * {
        -webkit-app-region: no-drag !important;
    }

    .Hydra_Sidebar_main_resize {
        position: absolute;
        opacity: 0;
        right: -2px;
        background-color: #1EBBFF;
        width: 4px;
        height: 100%;
        cursor: col-resize;
        transition: .3s;
        &:hover {
            opacity: 1;
        }
    }
    
    .Hydra_Sidebar_workarea {
        position: relative;
        // min-width: calc(196px - 58px);
        width: 100%;
        height: 100%;
        // flex-shrink: 0;
    }

    .Hydra_Sidebar_functions {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;
        width: 58px;
        border-right: 0.5px solid rgba(12, 12, 12, 0.16);

        & > div {
            -webkit-app-region: drag;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 10px;
        }

        button {
            width: 32px;
            margin-bottom: 13px;
        }
    }

}

.Hydra_Sidebar_search_results {
    position: relative;
    width: 98%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 200px;
    border-top: 1px solid rgba(211, 211, 211, 1);
    .Hydra_Sidebar_search_results_view {
        position: relative;
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        
        .Hydra_Sidebar_search_results_view_item {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: center;
            gap: 10px;
            height: 35px;
            user-select: none;
            cursor: pointer;
            a {
                font-size: 18px;
                color: #4D4D4D;
            }
            svg {
                fill: rgba(30, 30, 30, 0.44);
                margin-left: 10px;
            }
            &:hover {
                background-color: rgba(94, 94, 94, 0.305) !important;
            }
        }

    }

}