.Hydra_Buttons_iconbutton {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 25px;
    height: auto;
    svg {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        fill: rgba(30, 30, 30, 0.44);
        transition: .2s;
    }

    &:hover {
        svg {
            fill: rgba(30, 30, 30, 0.24);
        }
    }
}

.Hydra_Buttons_iconbutton_selected {

    svg {
        fill: rgba(30, 30, 30, 0.94);
    }

}

.Hydra_Buttons_button {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 25px;
    line-height: 10px;
    width: auto;
    color: #4D4D4D;
    padding: 0 10px 0 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .2s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: .5px solid transparent;
}

.Hydra_Buttons_button_text {

}

.Hydra_Buttons_button_filled {
    background-color: rgba(30, 30, 30, 0.44);
    border-radius: 5px;
    color: white;

    &:hover {
        color: #4D4D4D;
        border: .5px solid rgba(30, 30, 30, 0.44);
        background-color: transparent;
    }
}