.Hydra_Headbar_main {
    position: relative;
    height: 44px;
    width: 100%;
    border-bottom: 0.5px solid rgba(12, 12, 12, 0.16);
}

.Hydra_Headbar_functions {
    position: relative;
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-right: 0.5px solid rgba(12, 12, 12, 0.16);
    padding-right: 10px;
}