
.Hydra_Inputs_Select {
    position: relative;
    min-width: 80px;
    height: 30px;
    border: 0.5px solid rgba(12, 12, 12, 0.16);
    border-radius: 5px;
    padding:  0 5px 0 5px;
    cursor: pointer;

    a {
        position: relative;
        height: 100%;
        width: 95%;
        line-height: 30px;
        color: #4D4D4D;
        font-size: 14px;
        user-select: none;
    }

    svg {
        position: absolute;
        width: 18px;
        height: auto;
        right: 8px;
        top: 50%;
        transform: translate(0, -50%);
        fill: rgba(30, 30, 30, 0.44);
    }

}