.Hydra_Scrollarea_main {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .Hydra_Scrollarea_workarea {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        box-sizing: content-box;
    }

    .Hydra_Scrollarea_scroll {
        z-index: 3;
        position: absolute;
        background-color: rgba(43, 43, 43, 0.087);
        border-radius: 15px;
        cursor: pointer;
    }

    .Hydra_Scrollarea_scroll_y {
        right: 5px;
        width: 7px;
        height: 25%;
    }

    .Hydra_Scrollarea_scroll_x {
        left: 0;
        bottom: 2px;
        width: 25%;
        height: 5px;
    }

}